<section class="ui raised segment">
    <div class="ui two column grid">
        <asside class="six wide column">
            <h4>Global timeline</h4>
            <div class="ui mini statistics">
                <div class="statistic">
                    <div class="value">
                        <i class="twitter icon"></i>
                        {{stats.posts}}
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        <i class="history icon"></i>
                        {{stats.postsHour}}
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        <i class="users icon"></i>
                        {{stats.users}}
                    </div>
                </div>
            </div>
            <img src="images/admintimeline.png" class="ui large image">
        </asside>
        <article class="ten wide column">
             <form class="ui form" action="/adminDeleteTweet" method="POST">
                <table class="ui selectable striped table segment">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each tweets}}
                        <tr>
                            <td>
                            </td>
                            <td>
                                <div class="ui comments">
                                    <div class="comment">
                                        {{#if sender.picture.data}}
                                        <a class="avatar">
                                            <img src="/getUserPicture/{{sender.id}}" class="ui circular inline image">
                                            <span></span>
                                        {{/if}}
                                        <div class="content">
                                            <a class="author">
                                                <button class="ui basic small button" id="senderEmail" formaction="/user_timeline" value="{{sender.email}}"
                                                        name="email">@ {{sender.firstName}} {{sender.lastName}}
                                                </button>
                                            </a>
                                            <div class="metadata">
                                                <div class="date">{{date}}</div>
                                                <div class="rating">
                                                    <button class="ui blue basic mini button" id="targetUser" formaction="/follow" value="{{sender._id}}"
                                                            name="targetUser"><i class="twitter icon"></i>Follow
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="text">
                                                {{text}}
                                            </div>
                                            {{#if picture.data}}
                                            <div class="tweet_content">
                                                <img src="/getPicture/{{_id}}" height="52" width="52" />
                                            </div>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
                    <div class="field">
                        <textarea maxlength="140" name="text" id="text" placeholder="Add a comment"></textarea>
                    </div>
                    <button class="ui basic labeled submit icon button" formaction="/postcomment">
                        <i class="icon edit"></i> Add comment
                    </button>
                </form>
            </form>
        </article>
    </div>
</section>