<section class="ui raised segment">
    <div class="ui grid">
        <form class="ui form" action="/adminUser_timeline" method="POST">
        <div class="ui card">
            <div class="image">
                <img src="/images/{{user.firstName}}.jpg">
            </div>
            <div class="content">
                <button class="ui basic tiny button" value="{{user.email}}" id="senderEmail" value="{{sender.email}}"
                        name="sender">{{user.firstName}} {{user.lastName}}</button>
                <div class="meta">
                    <span class="date">Joined: {{user.joined}}</span>
                </div>
            </div>
            <div class="extra content">
                <a>{{user.posts.length}} Posts
                    <i class="twitter icon"></i>  {{user.followedBy.length}} Followers
                </a>
            </div>
            </div>
        </form>
    </div>
</section>