<section class="ui raised segment">
    <div class="ui grid">
        <asside class="six wide column">
            <img src="images/timeline.jpg" class="ui medium image">
        </asside>
        <article class="ten wide column">
            <h4> Posts: {{tweets.length}}</h4>
            <form class="ui form" action="/deleteTweet" method="POST">
                <table class="ui selectable striped table segment">
                    <thead>
                    <tr>
                        <th>Select</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each tweets}}
                        <tr>
                            <td>
                                <div class="ui checkbox">
                                    <input type="checkbox" id="checkbox" name="tweet" value="{{_id}}">
                                    <label></label>
                                </div>
                            </td>
                            <td>
                                <div class="ui comments">
                                    <div class="comment">
                                        <a class="avatar">
                                            <img src="/images/{{sender.firstName}}.jpg">
                                            <span></span>
                                        </a>
                                        <div class="content">
                                            <div class="author">
                                                @{{sender.firstName}} {{sender.lastName}}
                                            </div>
                                            <div class="metadata">
                                                <div class="date">{{date}}</div>
                                                <div class="rating">
                                                    <a><i class="twitter icon"></i>{{sender.followedBy.length}} Followers
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="text">
                                                {{text}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                    <tfoot class="full-width">
                    <tr>
                        <th colspan="4">
                            <div class="ui buttons">
                                <button class="ui positive button" id="delete_tweet"><i class="trash icon"></i>Selected
                                </button>
                                <div class="or"></div>
                                <button class="ui negative button" id="delete_all" formaction="/deleteTweetsAll">
                                    <i class="trash icon"></i> All
                                </button>
                            </div>
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </article>
    </div>
</section>