<section class="ui raised segment">
    <div class="ui grid">
        <asside class="six wide column">
            <h4 class="ui dividing header">MyTweet members</h4>
            <div class="ui mini statistics">
                <div class="statistic">
                    <div class="value">
                        <i class="user icon"></i>
                        {{stats.users}}
                    </div>
                    <div class="label">
                        Members
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        <i class="calendar icon"></i>
                        {{stats.usersWeek}}
                    </div>
                    <div class="label">
                        This week
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        <i class="users icon"></i>
                        {{stats.friendships}}
                    </div>
                    <div class="label">
                        Connections
                    </div>
                </div>
            </div>
            <img src="images/users.png" class="ui medium image">
        </asside>
        <article class="ten wide column">
        <form class="ui form" action="/deleteUser" method="POST">
            <table class="ui selectable striped table segment">
                <thead>
                <tr>
                    <th>Select</th>
                    <th>Name   </th>
                    <th>Surname</th>
                    <th><i class="mail icon"></i>     </th>
                    <th><i class="calendar icon"></i> </th>
                    <th><i class="twitter icon"></i> </th>
                    <th><i class="users icon"></i> </th>
                </tr>
                </thead>
                <tbody>
                {{#each users}}
                    <tr>
                        <td>
                            <div class="ui checkbox">
                                <input type="checkbox" id="usercheckbox" name="userId" value="{{_id}}">
                                <label></label>
                            </div>
                        </td>
                        <td> {{firstName}} </td>
                        <td> {{lastName}}  </td>
                        <td><button class="ui basic small button" name="userEmail" formaction="/user_profile" value="{{email}}"
                                    name="user"><i class="info circle icon"></i>{{email}}</button></td>
                        <td> {{joined}}   </td>
                        <td> {{posts.length}} </td>
                        <td> {{followedBy.length}} </td>
                    </tr>
                {{/each}}
                </tbody>
                <tfoot class="full-width">
                <tr>
                    <th colspan="4">
                        <div class="ui buttons">
                            <button class="ui negative button" id="delete_user"><i class="remove user icon"></i>Delete
                            </button>
                            <div class="or"></div>
                            <button class="ui positive button" id="add_user" formaction="/addUser">
                                <i class="add user icon"></i> Register new
                            </button>
                        </div>
                    </th>
                </tr>
                </tfoot>
            </table>
        </form>
        </article>
    </div>
</section>