<section class="ui raised segment">
    <div class="ui grid">
        <asside class="six wide column">
            <img src="images/users.jpg" class="ui medium image">
        </asside>
        <article class="ten wide column">
            <h4>MyTweet Users: {{users.length}}</h4>
        <form class="ui form" action="/deleteUser" method="POST">
            <table class="ui selectable striped table segment">
                <thead>
                <tr>
                    <th>Select</th>
                    <th>Name   </th>
                    <th>Surname</th>
                    <th><i class="mail icon"></i>     </th>
                    <th><i class="calendar icon"></i> </th>
                    <th><i class="comments icon"></i> </th>
                </tr>
                </thead>
                <tbody>
                {{#each users}}
                    <tr>
                        <td>
                            <div class="ui checkbox">
                                <input type="checkbox" id="usercheckbox" name="user" value="{{_id}}">
                                <label></label>
                            </div>
                        </td>
                        <td> {{firstName}} </td>
                        <td> {{lastName}}  </td>
                        <td><button class="ui small button" name="userEmail" formaction="/user_profile" value="{{email}}"
                                    name="user">{{email}}</button></td>
                        <td> {{joined}}   </td>
                        <td> {{tweets}}    </td>
                    </tr>
                {{/each}}
                </tbody>
                <tfoot class="full-width">
                <tr>
                    <th colspan="4">
                        <div class="ui buttons">
                            <button class="ui negative button" id="delete_user"><i class="remove user icon"></i>Remove
                            </button>
                            <div class="or"></div>
                            <button class="ui positive button" id="add_user" formaction="/addUser">
                                <i class="add user icon"></i> Add new user
                            </button>
                        </div>
                    </th>
                </tr>
                </tfoot>
            </table>
        </form>
        </article>
    </div>
</section>