{{> mainmenu _id="settings" }}

<section class="ui raised segment">
    <div class="ui two column grid">
        <div class="ui six wide column">
                <div class="ui grid">
                    <form class="ui form" action="/adminUser_timeline" method="POST">
                        <div class="ui card">
                            <div class="image">
                                <img src="/images/{{user.firstName}}.jpg">
                            </div>
                            <div class="content">
                                <a>Update profile picture</a>
                                <form method="POST" action="upload" ectype="multipart/form-data">
                                <input type="file" name="file" />
                                <br/> <input type="submit" value="Upload"/>
                                </form>
                            </div>
                            <div class="extra content">
                                <a><i class="calendar icon"></i>Joined: {{user.joined}}<br>
                                    <i class="users icon"></i>{{followers.length}} Followers</a>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
        <div class="ui ten wide column">
            <div class="ui stacked form segment">
                <form action="/update_settings" method="POST">
                    <h5 class="ui header">Update personal details</h5>
                    <div class="field">
                        <label>Email</label>
                        <input placeholder="Email" type="text" name="email">
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input type="password" name="password">
                    </div>
                    <button class="ui tiny grey submit button"><i class="settings icon"></i>Update</button>
                </form>
                {{> formerror }}
            </div>
            <div class="ui stacked form segment">
                <form class="ui form" action="/unfollow" method="POST">
                    <h5 class="ui header">Following:</h5>
                    <table class="ui selectable striped table segment">
                        <thead>
                        <tr>
                            <th>Select</th>
                            <th></th>
                            <th></th>
                            <th><i class="mail icon"></i>     </th>
                            <th><i class="twitter icon"></i> </th>
                            <th><i class="users icon"></i> </th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each following}}
                            <tr>
                                <td>
                                    <div class="ui checkbox">
                                        <input type="checkbox" id="usercheckbox" name="userId" value="{{_id}}">
                                        <label></label>
                                    </div>
                                </td>
                                <td> {{firstName}} </td>
                                <td> {{lastName}}  </td>
                                <td><button class="ui basic small button" formaction="/user_timeline" name="email" value="{{email}}">
                                    <i class="home icon"></i>{{email}}
                                </button></td>
                                <td> {{posts.length}} </td>
                                <td> {{followedBy.length}} </td>
                            </tr>
                        {{/each}}
                        </tbody>
                        <tfoot class="full-width">
                        <tr>
                            <th colspan="4">
                                <div class="ui buttons">
                                    <button class="ui tiny grey submit button"><i class="remove user icon"></i>Unfollow</button>
                                </div>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </form>
            </div>
        </div>
    </div>
</section>